.homepage {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.landing {
    width: 100%;
    height: 24rem;
    background-image: url('https://images.pexels.com/photos/5973963/pexels-photo-5973963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.teach-landing {
    width: 100%;
    height: 38rem;
    background-image: url('https://images.pexels.com/photos/6325970/pexels-photo-6325970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.landing-title {
    color: white;
    font-family: var(--logo-font);
    font-size: 2.4rem;
    margin: 5rem 0 3rem 0;
    text-shadow: 5px 5px 1px var(--primary-shadow);
    user-select: none;
}

.landing-btn {
    padding: 0.8rem 1.8rem;
    letter-spacing: 0.5px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.landing-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px var(--primary);
}

.courses-preview-title {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.courses-preview {
    margin: 0.5rem auto 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
}

@media only screen and (min-width: 480px) {
    .courses-preview {
      grid-template-columns: 1fr 1fr;
    }  
}

@media only screen and (min-width: 1200px) {
    .courses-preview {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}