@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.homepage {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.landing {
    width: 100%;
    height: 30rem;
    /* background: 
        linear-gradient(
            rgba(99, 57, 237, 0.45), 
            rgba(99, 57, 237, 0.45)
        ),
        url('https://images.pexels.com/photos/5973963/pexels-photo-5973963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
    background-image: url('https://images.pexels.com/photos/5973963/pexels-photo-5973963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* background-color: #314555;
    background-blend-mode: luminosity; */
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.landing-title {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    margin: 5rem 0 3rem 0;
    text-shadow: 5px 5px 1px rgba(0, 169, 236, 0.5);
}

.landing-btn {
    padding: 1rem 2rem;
    letter-spacing: 0.5px;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #00a9ec;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.landing-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px #00a9ec;
}

.courses-preview-title {
    margin-top: 1rem;
    color: white;
    display: flex;
    justify-content: center;
}

.courses-preview {
    margin: 1rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
}

@media only screen and (min-width: 600px) {
    .courses-preview {
      grid-template-columns: 1fr 1fr;
    }  
}

@media only screen and (min-width: 1200px) {
.courses-preview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}