.signin-signup {
    display: flex;
    justify-content: center;
}

.tab-container {
    margin: 2rem 0 0 0;
    min-width: 70%;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 8px 8px 1px var(--primary-shadow); */
}

.tab-options {
    display: flex;
    justify-content: center;
}

.signin-signup-button {
    min-width: 50%;
    height: 2.5rem;
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary);
    background-color: var(--background-light);
    border: none;
    border-radius: 8px 8px 0 0;
    outline: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active-view {
    background-color: white;
}

.tab-content {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: white;
}