.banner {
    width: 100%;
    height: 9rem;
    /* background: 
        linear-gradient(
            rgba(99, 57, 237, 0.45), 
            rgba(99, 57, 237, 0.45)
        ),
        url('https://images.pexels.com/photos/5973963/pexels-photo-5973963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
    background-image: url('https://images.pexels.com/photos/5973963/pexels-photo-5973963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* background-color: #314555;
    background-blend-mode: luminosity; */
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;    
}

.banner-title {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    /*margin: 5rem 0 3rem 0;*/
    text-shadow: 5px 5px 1px rgba(0, 169, 236, 0.5);
}

.learner-view {
    display: grid;
    grid-template-columns: 70% 30%;
 
}
.video-view {

    grid-column:1;    
    flex-direction: column;
    text-align: center;
    background-color:black;
   height: 35rem;

}

.module-details-view {

    grid-column:2;  
    background-color: rgb(108, 167, 255);
    color: white;
    padding: 10px

}

video{
    max-width: 75%;
    min-height: 35rem;
}


