.card-container {
    border-radius: 10px;
    background: white;
    box-shadow: 8px 8px 1px rgba(0, 169, 236, 0.5);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    /* position: relative; */
    /* top: 0; */
    /* transition: all .1s ease-in; */
}

/* #ff9113 */

.card-container:hover {
    /* top: -2px;
    box-shadow: 0 0 20px white; */
}

.card-img-container {
    height: 8rem;
    overflow: hidden;
}

.card-img {
    max-width: 100%;
}

.card-content {
    padding: 0.1rem 1.2rem 1.2rem 1.2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.card-content-rating {
    align-self: flex-end;
    margin-top: -2rem;
    z-index: 0;
}

.card-content-title {
    color: #00a9ec;
}

.card-content-description {
    color: #939393;
    flex: 1;
}

.card-content-kit {
    color: #00a9ec;
}

.card-content-button {
    align-self: flex-end;
}

.card-button {
    padding: 0.5rem 1rem;
    letter-spacing: 0.5px;
    color: white;
    font-family: inherit;
    font-weight: bold;
    background-color: #00a9ec;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.card-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00a9ec;
}

