.icon-button {
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    stroke: white;
    stroke-width: 18px;
}

.icon-button:hover {
    fill: var(--primary);
    stroke: var(--primary);
}

.icon-button:focus {
    fill: var(--primary);
    stroke: var(--primary);
}

.nav-item-text {
    color: white;
    user-select: none;
}

.nav-item-text:hover {
    color: var(--primary);
}

.nav-item-text:focus {
    color: var(--primary);
}

.dropdown {
    font-size: 1rem;
    position: absolute;
    top: 2.15rem;
    width: auto;
    white-space: nowrap;
    background-color: var(--background-light);
    overflow: hidden;
    left: 51%;
    transform: translateX(-51%);
}

.profile-dropdown {
    left: -70%;
    width: auto;
}

.menu-item {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 500ms;
    padding: 0.2rem 0.8rem;
}

.profile-menu-item {
    justify-content: flex-end;
}

.menu-item .icon-button {
    margin-right: 0.2rem;
    width: 1.4rem;
}

.menu-item:hover {
    background-color: var(--background);
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all 500ms ease;
}

.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all 500ms ease;
}