.footer {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #314555;
}

.footer-container {
    width: 90%;
    padding: 0.7rem 0 0.4rem 0;
    text-align: center;
    color: #00a9ec;
    font-weight: bold;
}

.footer-item {
    margin: 0 3rem;
    font-size: 0.8rem;
}

.footer-copyright {
    font-size: 0.6rem;
}