.group {
    position: relative;
    margin: 45px 0;
}

.form-input {
    background: none;
    font-size: 0.8rem;
    padding: 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    margin: 25px 0;
}

.form-input:focus {
    outline: none;
}

input {
    box-sizing: border-box
}

input[type='password'] {
    letter-spacing: 0.3em;
}

.form-input-label {
    font-size: 0.8rem;
    position: absolute;
    left: 5px;
    top: 45px;
}