.header {
    position: sticky;
    background-color: white;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.options-width {
    width: 90%;
    display: flex;
}

.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.option {
    display: flex;
    padding: 0 2rem;
    cursor: pointer;
}

.logo {
    height: 2rem;
    width: 2rem;
}

.cart-badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    /* border-radius: 10%; */
    /* width: 20px; */
    /* height: 20px; */
  }

  #cart-counter {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -5px; 
  }
