.header {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.options-width {
    width: 90%;
    display: flex;
}

.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.option {
    display: flex;
    padding: 0 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;
}

.option:hover {
    color: #00a9ec;
}

.option:focus {
    color: #00a9ec;
}

.logo {
    height: 2rem;
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}
