.modal-update-course-container {
    color: var(--primary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/*.formgrid {
    grid-column:1; grid-row:2
}

.course-title{
    grid-column:1; grid-row:1
}*/

.modal-subtitle {
    margin: 0;
}

.course-image {
    grid-column: 1;
}

.modal-certificate {
    grid-column: 2 / 3; 
}

.modal-course-material{
    grid-column: span 2;
    padding: 10px;
}

.course-info {
    grid-column: span 2;
    padding: 1rem;
}

.modal-course-description{
    grid-column: 1; 
}

.modal-kit-info {
    grid-column: span 2;
    padding: 10px;
}

.content-upload{
    grid-column: 1; 
}

.price {
    grid-column:1; grid-row:6
}

.update-module {
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    padding: 10px
}