.header {
    position: sticky;
    background-color: white;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.options-width {
    width: 90%;
    display: flex;
}

.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.option {
    padding: 0 2rem;
    cursor: pointer;
}

.logo {
    height: 2rem;
    width: 2rem;
}