.sign-in {
    width: 50%;
    margin-top: 2rem;
}

.sign-in-button {
    margin-top: 2rem;
    float: right;
    min-width: 30%;
    height: 2rem;
    letter-spacing: 0.5px;
    font-size: 1rem;
    color: white;
    background-color: rgb(108, 167, 255);
    border: none;
    outline: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign-in-button:hover {
    border: 2px solid black;
}