.course-content-upload-btn {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    letter-spacing: 0.5px;
    color: white;
    font-size: 0.8rem;
    font-family: inherit;
    font-weight: bold;
    background-color: var(--primary);
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}