.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
}

.app-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--background);
  z-index: 1;
}

.app-content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.app-footer {
  margin-top: auto;
}
